body{
    position: relative;
}
#display{
    position: absolute;
    top: 15vh;
    left: 10%;
    margin: 0px;
    text-align: center;
    font-size: min(15vw,100px);
    width: 80%;
}
#control{
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 70px;
    text-align: center;
    background-color: lightblue;
}
#navigation{
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 70px;
    text-align: center;
    border-radius: 7px;
    background-color: gray;
}
.select{
    width: 50px;
    height: 50px;
    margin: 10px 5px;
    border-radius: 25px;
}
.settimer{
    width: 50px;
    height: 30px;
    margin: 20px 3px;
    border: none;
    border-bottom: solid 3px gray;
    border-radius: 5px;
}
.timercontrol{
    width: 70px;
    height: 30px;
    margin: 20px 3px;
    border: none;
    border-radius: 5px;
}
.timercontrol:active{
    background-color: lightgray;
}